<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
            <div class="main-parent">
                <div class="form-wrap">
                    <form>
                        <h1><span>Login Page</span></h1>
                        <div class="single-input">
                            <input id="emailAddress" type="email" placeholder="Email address">
                        </div>
                        <div class="single-input">
                            <input id="passWord" type="password" placeholder="PassWord">
                        </div>
                        <div class="submit-button">
                            <button class="button login">Login</button>
                            
                            </div>
                            <div class="account-have">
                                <a href="">Forget Password</a>
                                <a href="index.html">Create new Account</a>
                                </div>
                                </form>
                                </div>
                                </div>
                                <script src="{{ url_for('static', filename='sweetalert.js') }}"></script>
                                <script src="{{ url_for('static', filename='app.js') }}"></script>
                               